body {
    background-color: white;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .highlight-text {
    color: black;
    font-family: 'georgia';
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 20px;
  }
  .btn-warning {
    background-color: #ffc107;
    color: #000;
  }
  .info-text {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container {
    flex: 1;
  }
