body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.navbar-custom {
    background-color: #333;
    color: white;
    padding: 15px;
}

.navbar-custom a.nav-link:hover {
    text-decoration: underline;
}

.sidebar {
    transition: width 0.3s ease-in-out;
}

.sidebar a:hover {
    color: #ff8c00;
}

.form-container {
    max-width: 800px;
    margin: 20px auto;
    background:  #d9d9d9;
    border: 1px solid lightgray;
    padding: 30px;
    border-radius: 10px;

}

label {
    display: flex;
    align-items: center;
    font-weight: bold;
}

input[type="text"],
input[type="time"],
select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="time"]:focus,
select:focus {
    border-color: #ff8c00;
    outline: none;
    box-shadow: 0 0 5px  #ff6600(0, 150, 136, 0.5);
}

.order-button {
    background-color:#ff8c00;
    color: white;
    font-size: 18px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.order-button:hover {
    background-color: #ff6600;
}

footer {
    background: linear-gradient(to bottom, #333, #000);
    color: white;
    text-align: center;
    padding: 20px;
}

footer a:hover {
    color: #ff8c00;
}
